@{
    ViewData["Title"] = "Index";
}

<h1>Movie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="data-table" class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>ReleaseYear</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
    <script src="~/js/movie/index.js"></script>
}

@*<ul class="list-group list-group-flush mb-4 movie-list">
    @foreach (var item in Model) {
        <li class="list-group-item d-inline-flex">
            <img src="~/posters/@item.Poster" width="58" height="84" class="mr-3" />
            <div class="movie-about">
                <p class="movie-name mb-1"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a> <span class="movie-year">@item.ReleaseYear</span></p>
                <span class="text-secondary">@item.OriginalName, @item.Duration min</span>
            </div>
        </li>
    }
</ul>*@






